@{
    ViewBag.Title = "Home Page";
}

<input type="text" id="userName" placeholder="Adınız" />
<input type="text" id="message" placeholder="Mesajınız" />
<button id="sendButton">Gönder</button>
<div id="chatBox"></div>

<button id="sendContractButton">Sözleşme Bildirimi Gönder</button>

